*{
    margin: 0px;
    padding: 0px;

    /* Every element will be included in the box */
    box-sizing: border-box;  
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url('../images/developer.png'), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: center left, bottom right;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.orange{
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#banner{
    /* border:2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 46px 38px 0px 230px;
    max-width: 1332px;
    vertical-align: middle;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}
#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}

