*{
    margin: 0px;
    padding: 0px;

    /* Every element will be included in the box */
    box-sizing: border-box;  
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url('../images/developer.png'), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: center left, bottom right;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.orange{
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#banner{
    /* border:2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 46px 38px 0px 230px;
    max-width: 1332px;
    vertical-align: middle;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}
#banner .banner-image img{
    max-width: 584px;
    /* to remove the default margin at the bottom */
    vertical-align: middle;
}

#about{
    width: 71%;
    max-width: 1140px;
    max-height: 550px;
    margin: 130px auto 0px;
    background-color: #FFF8F3;
    text-align: center;
}

#about .about-container{
    padding: 131px 157px;
}

#about .about-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
#about .about-container p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

#about .about-card{
    display: flex;
    justify-content:space-around;

}
#about .about-card h4{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
#about .about-card h3{
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}

#skill-section{
    margin-top: 130px;
}

.skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skill-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.skill-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #181818;
}
.skill-heading p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
    color: #757575;
}
.skill-box{
    display: flex;
    gap:24px;

}
.skill-box .skill-card{
    /* border: 2px solid black; */
    padding: 30px;
    max-width: 267px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 #00000021;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
.skill-card p{
    max-width: 201px;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

#resume-section{
    margin-top: 130px;
}
.resume-container{
    width: 68%;
    max-width: 1093px;
    margin:0 auto;
}
.resume-content{
    display: flex;
    gap:71px;
}
.resume-container  h1{
    text-align: center;
    margin-bottom: 113px;
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}
.card-heading h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #474747;
}
.resume-card{
    max-width: 511px;
}
.resume-card h3{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.card-info{
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
    margin-bottom: 20px;
}
.card-content{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}
.resume-container button{
    display: block;
    margin:0 auto;
}
.resume-card hr{
    margin-bottom: 30px;
    max-width: 558px;
}